delete interfaces ge-0/0/1.0 family inet filter
delete firewall family inet filter protect-1

set firewall family inet filter protect-1 term 80.221 from source-address 1.1.80.221
set firewall family inet filter protect-1 term 80.221 then count 1.1.80.221
set firewall family inet filter protect-1 term 80.221 then discard
set firewall family inet filter protect-1 term 80.222 from source-address 1.1.80.222
set firewall family inet filter protect-1 term 80.222 then count 1.1.80.222
set firewall family inet filter protect-1 term 80.222 then discard
set firewall family inet filter protect-1 term 80.223 from source-address 1.1.80.223
set firewall family inet filter protect-1 term 80.223 then count 1.1.80.223
set firewall family inet filter protect-1 term 80.223 then discard
set firewall family inet filter protect-1 term 80.224 from source-address 1.1.80.224
set firewall family inet filter protect-1 term 80.224 then count 1.1.80.224
set firewall family inet filter protect-1 term 80.224 then discard
set firewall family inet filter protect-1 term 80.225 from source-address 1.1.80.225
set firewall family inet filter protect-1 term 80.225 then count 1.1.80.225
set firewall family inet filter protect-1 term 80.225 then discard
set firewall family inet filter protect-1 term 80.226 from source-address 1.1.80.226
set firewall family inet filter protect-1 term 80.226 then count 1.1.80.226
set firewall family inet filter protect-1 term 80.226 then discard
set firewall family inet filter protect-1 term 80.227 from source-address 1.1.80.227
set firewall family inet filter protect-1 term 80.227 then count 1.1.80.227
set firewall family inet filter protect-1 term 80.227 then discard
set firewall family inet filter protect-1 term 80.228 from source-address 1.1.80.228
set firewall family inet filter protect-1 term 80.228 then count 1.1.80.228
set firewall family inet filter protect-1 term 80.228 then discard
set firewall family inet filter protect-1 term 80.229 from source-address 1.1.80.229
set firewall family inet filter protect-1 term 80.229 then count 1.1.80.229
set firewall family inet filter protect-1 term 80.229 then discard
set firewall family inet filter protect-1 term 80.230 from source-address 1.1.80.230
set firewall family inet filter protect-1 term 80.230 then count 1.1.80.230
set firewall family inet filter protect-1 term 80.230 then discard
set firewall family inet filter protect-1 term 80.231 from source-address 1.1.80.231
set firewall family inet filter protect-1 term 80.231 then count 1.1.80.231
set firewall family inet filter protect-1 term 80.231 then discard
set firewall family inet filter protect-1 term 80.232 from source-address 1.1.80.232
set firewall family inet filter protect-1 term 80.232 then count 1.1.80.232
set firewall family inet filter protect-1 term 80.232 then discard
set firewall family inet filter protect-1 term 80.233 from source-address 1.1.80.233
set firewall family inet filter protect-1 term 80.233 then count 1.1.80.233
set firewall family inet filter protect-1 term 80.233 then discard
set firewall family inet filter protect-1 term 80.234 from source-address 1.1.80.234
set firewall family inet filter protect-1 term 80.234 then count 1.1.80.234
set firewall family inet filter protect-1 term 80.234 then discard
set firewall family inet filter protect-1 term 80.235 from source-address 1.1.80.235
set firewall family inet filter protect-1 term 80.235 then count 1.1.80.235
set firewall family inet filter protect-1 term 80.235 then discard
set firewall family inet filter protect-1 term 80.236 from source-address 1.1.80.236
set firewall family inet filter protect-1 term 80.236 then count 1.1.80.236
set firewall family inet filter protect-1 term 80.236 then discard
set firewall family inet filter protect-1 term 80.237 from source-address 1.1.80.237
set firewall family inet filter protect-1 term 80.237 then count 1.1.80.237
set firewall family inet filter protect-1 term 80.237 then discard
set firewall family inet filter protect-1 term 80.238 from source-address 1.1.80.238
set firewall family inet filter protect-1 term 80.238 then count 1.1.80.238
set firewall family inet filter protect-1 term 80.238 then discard
set firewall family inet filter protect-1 term 80.239 from source-address 1.1.80.239
set firewall family inet filter protect-1 term 80.239 then count 1.1.80.239
set firewall family inet filter protect-1 term 80.239 then discard
set firewall family inet filter protect-1 term 80.240 from source-address 1.1.80.240
set firewall family inet filter protect-1 term 80.240 then count 1.1.80.240
set firewall family inet filter protect-1 term 80.240 then discard
set firewall family inet filter protect-1 term 80.241 from source-address 1.1.80.241
set firewall family inet filter protect-1 term 80.241 then count 1.1.80.241
set firewall family inet filter protect-1 term 80.241 then discard
set firewall family inet filter protect-1 term 80.242 from source-address 1.1.80.242
set firewall family inet filter protect-1 term 80.242 then count 1.1.80.242
set firewall family inet filter protect-1 term 80.242 then discard
set firewall family inet filter protect-1 term 80.243 from source-address 1.1.80.243
set firewall family inet filter protect-1 term 80.243 then count 1.1.80.243
set firewall family inet filter protect-1 term 80.243 then discard
set firewall family inet filter protect-1 term 80.244 from source-address 1.1.80.244
set firewall family inet filter protect-1 term 80.244 then count 1.1.80.244
set firewall family inet filter protect-1 term 80.244 then discard
set firewall family inet filter protect-1 term 80.245 from source-address 1.1.80.245
set firewall family inet filter protect-1 term 80.245 then count 1.1.80.245
set firewall family inet filter protect-1 term 80.245 then discard
set firewall family inet filter protect-1 term 80.246 from source-address 1.1.80.246
set firewall family inet filter protect-1 term 80.246 then count 1.1.80.246
set firewall family inet filter protect-1 term 80.246 then discard
set firewall family inet filter protect-1 term 80.247 from source-address 1.1.80.247
set firewall family inet filter protect-1 term 80.247 then count 1.1.80.247
set firewall family inet filter protect-1 term 80.247 then discard
set firewall family inet filter protect-1 term 80.248 from source-address 1.1.80.248
set firewall family inet filter protect-1 term 80.248 then count 1.1.80.248
set firewall family inet filter protect-1 term 80.248 then discard
set firewall family inet filter protect-1 term 80.249 from source-address 1.1.80.249
set firewall family inet filter protect-1 term 80.249 then count 1.1.80.249
set firewall family inet filter protect-1 term 80.249 then discard
set firewall family inet filter protect-1 term 80.250 from source-address 1.1.80.250
set firewall family inet filter protect-1 term 80.250 then count 1.1.80.250
set firewall family inet filter protect-1 term 80.250 then discard
set firewall family inet filter protect-1 term 80.251 from source-address 1.1.80.251
set firewall family inet filter protect-1 term 80.251 then count 1.1.80.251
set firewall family inet filter protect-1 term 80.251 then discard
set firewall family inet filter protect-1 term 80.252 from source-address 1.1.80.252
set firewall family inet filter protect-1 term 80.252 then count 1.1.80.252
set firewall family inet filter protect-1 term 80.252 then discard
set firewall family inet filter protect-1 term 80.253 from source-address 1.1.80.253
set firewall family inet filter protect-1 term 80.253 then count 1.1.80.253
set firewall family inet filter protect-1 term 80.253 then discard
set firewall family inet filter protect-1 term 80.254 from source-address 1.1.80.254
set firewall family inet filter protect-1 term 80.254 then count 1.1.80.254
set firewall family inet filter protect-1 term 80.254 then discard
set firewall family inet filter protect-1 term 80.255 from source-address 1.1.80.255
set firewall family inet filter protect-1 term 80.255 then count 1.1.80.255
set firewall family inet filter protect-1 term 80.255 then discard
set firewall family inet filter protect-1 term accept then accept
set firewall family inet filter protect-1 term accept then count accept
set interfaces ge-0/0/1.0 family inet filter input protect-1
